body{
    background-color:#68cdd6;
    overflow: hidden;
    font-szie:18px;
    color: white;
}
.outer{
    padding: 15px;
    width:auto;
    height:100vh;
   }
.returnbutton{
    pssition:fixed;
    top:0;
    left:0;
}
.logo{
    height:25%;
    width:100%;
}
.content{
    text-align: center;
    height:25%;
    width: 100%;
    float:left;
}
.qqgroup{
    text-align: center;
    height:50%;
    width: 50%;
    float:left;
}
.homepagelink{
    text-align: center;
    height:50%;
    width:50%;
    float:left;
}