body{
    background-color:#68cdd6;
    overflow-x: hidden;
}
.outer{
    width:600px;
    height: 1000px;
   }
.title{
    height:250px;
    width:600px;
}
.content{
    text-align: center;
    color: white;
    height:250px;
    width: 600px;
    float:left;
}
.qqgroup{
    height:500px;
    width: 300px;
    float:left;
}
.homepagelink{
    height:500px;
    width:300px;
    float:left;
}